<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="stores_data_source" xsi:type="string">Myv\StoreLocator\Model\ResourceModel\StoreLocator\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Myv\StoreLocator\Model\ResourceModel\StoreLocator\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">storelocator_stores</argument>
            <argument name="resourceModel" xsi:type="string">Myv\StoreLocator\Model\ResourceModel\StoreLocator</argument>
        </arguments>
    </virtualType>

    <preference for="Myv\StoreLocator\Api\StoreLocatorRepositoryInterface" type="Myv\StoreLocator\Model\StoreLocatorRepository"/>
    <preference for="Myv\StoreLocator\Api\Data\StoreLocatorInterface" type="Myv\StoreLocator\Model\StoreLocator"/>
</config>